<!-- menu -->
<div class="navbar-fixed" style="z-index: 1001 !important">
  <nav>
    <div class="nav-wrapper blue accent-4">
      <div class="container">
        <a class="brand-logo" href="#">
          <img class="my-logo" src="/assets/resources/images/logo.png" />
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="/inicio" class="flow-text">Home</a>
          </li>
          <li><a href="/cidade" class="flow-text">Cidade</a></li>
          <li><a href="/gravadora" class="flow-text">Gravadora</a></li>
          <li><a href="/usuario" class="flow-text">Usuario</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <ul class="sidenav blue accent-4 " id="mobile-demo" #mobile>
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="center">
          <img
            class="circle responsive-img"
            src="/assets/resources/images/logo.png"
          />
        </div>
      </div>
    </div>
    <li><a href="/inicio" class="flow-text">Home</a></li>
    <li><a href="/cidade" class="flow-text">Cidade</a></li>
    <li><a href="/gravadora" class="flow-text">Gravadora</a></li>
    <li><a href="/usuario" class="flow-text">Usuario</a></li>
  </ul>
</div>
<!-- fim menu -->

